{% extends "blessed/base.html" %}{% load pubcrank %}
{% block banner %}
<div class="page-header" data-background="/assets/images/home2/hero-2-bg.png" style="background-image: url(&quot;/assets/images/home2/hero-2-bg.png&quot;);">
  <div class="container">
    <div class="row">
      <h1 class="mb-2 text-white">{{ page.title }}</h1>
      <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
      </nav> -->
    </div>
  </div>
</div>
{% endblock %}
{% block sections %}
<!-- Blog Post List
=================== -->
<section class="pt-110px ">
    <div class="container">
        <div class="row">
            {% for obj in pagination.object_list %}
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="card-blog-1 rounded-2 overflow-hidden bg-white shadow-1 shine-animate-item hover-up">
                    <div class="position-relative overflow-hidden mb-2">
                        <a href="{% page_url obj %}" class="shine-animate">
                            <img src="{{ obj.metadata.image }}" alt="" style="width: 100%; height: 180px; object-fit: cover;">
                        </a>
                    </div>
                    <div class="card-body p-4">
                        <h5 class="font-body text-dark fs-5 lh-base">
                            <a href="{% page_url obj %}" class="">
                                {{ obj.metadata.title }}
                            </a>
                        </h5>
                        <div class="meta-1 fs-7 mb-3">
                            <!-- <span class="author">by <a href="blog-details.html" class="text-decoration-underline"> Alice Rose</a></span> -->
                            <span class="date ms-1">
                                {{ obj.metadata.date|date:"m/d/Y" }}
                            </span>
                        </div>
                        <p class="fs-7 mb-4 text-dark">
                            Our Church is made for the people by the people to pray to the Lord Jesus...
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="view">
                                <!-- <i class="size-14" data-feather="eye"></i>
                                <span class="text-dark fs-7">27 views</span> -->
                            </div>
                            <a href="{% page_url obj %}" class="text-decoration-underline fs-7">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="col-12 d-flex justify-content-lg-start justify-content-center mt-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if pagination.has_previous %}
                        <li class="page-item text-center fs-6 pe-2">
                            <a class="page-link size-48" href="/pastors-pen/page/{{ pagination.previous_page_number }}/">
                                <i data-feather="arrow-left" class="size-12"></i>
                            </a>
                        </li>
                        {% endif %}
                        {% if pagination.has_next %}
                        <li class="page-item text-center fs-6 pe-2">
                            <a class="page-link size-48" href="/pastors-pen/page/{{ pagination.next_page_number }}/" aria-label="Next">
                                <i data-feather="arrow-right" class="size-12"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

{% endblock %}
