{% extends "blessed/base.html" %}
{% block css %}
<style>
.page-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    -webkit-text-stroke: 2px black;
    text-shadow: 5px 4px 5px #000;
  }
}
</style>
{% endblock %}
{% block banner %}
<section class="page-header" data-background="/home/cover.jpg">
    <div class="container">
        <div class="row">
            <h1 class="mb-2 text-white">
              Wildwood Assembly<br>
              Welcome Home
            </h1>
        </div>
    </div>
</section>
{% endblock %}
{% block sections %}
<section class="home1-section2" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 pt-80">
              <h2 class="ds-3 fw-normal aos-init aos-animate" data-aos="fade-up">Who We Are</h2>
              <ul>
                <li>Called to His Plan</li>
                <li>Caring for His People</li>
                <li>Committed to His Purpose</li>
              </ul>
              <p class="fs-6 aos-init aos-animate" data-aos="fade-up">
                We have been called to Worship our Lord in spirit mind soul and body. Caring, we step forward to the ministry of meeting the needs of individuals, families and our community. We are comitted to the task that He has set before us. We are his workmanship created in Christ Jesus our LORD. We are being fitly framed together as a habitation of the Holy Ghost exalting the Lordship of Jesus Christ.
              </p>
              <p>
                Those who enter here are being saved, baptized, healed, filled with the Holy Spirit! We are looking for His soon return. We will stand in His righteousness. Crucified with Christ, nevertheless living in the faith of the Son of God. What is your purpose? – Join us and find out what God’s Purpose is for your life.
              </p>
              <!-- <div class="row mt-5">
                  <div class="col-lg-6">
                      <img src="assets/images/home1/img-1.png" alt="Blessed" data-aos="flip-left" class="aos-init aos-animate">
                      <h5 class="mt-4 fw-medium">Study Bible</h5>
                      <p data-aos="fade-up" class="aos-init aos-animate">
                          Our church is welcoming and sociable, hosting plenty of events. Committees play a crucial
                          role in keeping everything running smoothly.
                      </p>
                  </div>
                  <div class="col-lg-6">
                      <img src="assets/images/home1/img-2.png" alt="Blessed" data-aos="flip-left" class="aos-init aos-animate">
                      <h5 class="mt-4 fw-medium">Place Of Heaven</h5>
                      <p data-aos="fade-up" class="aos-init aos-animate">
                          Beyond our spiritual gatherings, our church is a warm and welcoming community, buzzing with
                          social activities and connections.
                      </p>
                  </div>
              </div> -->
          </div>
          <div class="col-lg-5">
              <div class="z-3 up-event-cover rounded-3">
                  <div class="up-event shadow-1 position-relative">
                      <h4 class="mb-2">Upcoming Events</h4>
                      <ul class="events-list p-0">
                          <li class="pt-3 pb-3">
                              <div class="d-flex gap-3">
                                  <div class="event-date rounded-1 text-center">
                                      <h4 class="date mb-0 lh-1">18</h4>
                                      <span class="fs-8">Jul</span>
                                      <span class="fs-8">2024</span>
                                  </div>
                                  <div class="content">
                                      <p class="fs-6 mb-1">
                                          <a href="event-details.html" class="text-black">Spiritual Awakening: Unity
                                              Gathering</a>
                                      </p>
                                      <span class="event-meta fs-8">
                                          <i class="fa fa-clock me-1"></i>
                                          08:00 AM - 11:00 AM
                                      </span>
                                  </div>
                              </div>
                          </li>
                          <li class="pt-3 pb-3 aos-init aos-animate" data-aos="fade-up">
                              <div class="d-flex gap-3">
                                  <div class="event-date rounded-1 text-center">
                                      <h4 class="date mb-0 lh-1">23</h4>
                                      <span class="fs-8">Jul</span>
                                      <span class="fs-8">2024</span>
                                  </div>
                                  <div class="content">
                                      <p class="fs-6 mb-1">
                                          <a href="event-details.html" class="text-black">Divine Illumination:
                                              Spiritual Retreat</a>
                                      </p>
                                      <span class="event-meta fs-8">
                                          <i class="fa fa-clock me-1"></i>
                                          08:00 AM - 11:00 AM
                                      </span>
                                  </div>
                              </div>
                          </li>
                          <li class="pt-3 pb-3 aos-init aos-animate" data-aos="fade-up">
                              <div class="d-flex gap-3">
                                  <div class="event-date rounded-1 text-center">
                                      <h4 class="date mb-0 lh-1">25</h4>
                                      <span class="fs-8">Jul</span>
                                      <span class="fs-8">2024</span>
                                  </div>
                                  <div class="content">
                                      <p class="fs-6 mb-1">
                                          <a href="event-details.html" class="text-black">Blessed Journey to Peace:
                                              Conference</a>
                                      </p>
                                      <span class="event-meta fs-8">
                                          <i class="fa fa-clock me-1"></i>
                                          08:00 AM - 11:00 AM
                                      </span>
                                  </div>
                              </div>
                          </li>
                          <li class="pt-3 pb-3 aos-init aos-animate" data-aos="fade-up">
                              <div class="d-flex gap-3">
                                  <div class="event-date rounded-1 text-center">
                                      <h4 class="date mb-0 lh-1">28</h4>
                                      <span class="fs-8">Jul</span>
                                      <span class="fs-8">2024</span>
                                  </div>
                                  <div class="content">
                                      <p class="fs-6 mb-1">
                                          <a href="event-details.html" class="text-black">Cultivating Inner Serenity
                                              Meditation Workshop</a>
                                      </p>
                                      <span class="event-meta fs-8">
                                          <i class="fa fa-clock me-1"></i>
                                          08:00 AM - 11:00 AM
                                      </span>
                                  </div>
                              </div>
                          </li>
                      </ul>
                      <a href="/events/" class="btn btn-full aos-init aos-animate" data-aos="fade-up">View More Events</a>
                      <img class="position-absolute top-0 right-5 tag" src="assets/images/home1/img-4.png" alt="Blessed">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="bg-animation">
      <img src="assets/images/home1/img-3.png" alt="Blessed" data-aos="fade-right" data-aos-delay="400" class="aos-init aos-animate img-bg">
  </div>
</section>
{% endblock %}
