{% extends "blessed/base.html" %}
{% block css %}
<style>
.page-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    -webkit-text-stroke: 1px black;
    text-shadow: 5px 4px 5px #000;
  }
}
</style>
{% endblock %}
{% block banner %}
<section class="page-header" data-background="/home/cover.jpg">
    <div class="container">
        <div class="row">
            <h1 class="mb-2 text-white">
              Wildwood Assembly<br>
              Welcome Home
            </h1>
        </div>
    </div>
</section>
{% endblock %}
{% block sections %}
<section class="home1-section2" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 pt-40">
              <h4>
                Location
              </h4>
              <p class="fs-6 aos-init aos-animate" data-aos="fade-up">
                227 Charter Oak Drive<br>
                Canyon Lake, Texas 78133
              </p>
              <h4>
                Service Times
              </h4>
              <p class="fs-6 aos-init aos-animate" data-aos="fade-up">
                <strong>Sunday:</strong><br>
                Bible Study: 9:15 AM<br>
                Service: 10:30 AM<br>
                <br>
                <strong>Wednesday:</strong><br>
                Dinner: 6:00 PM in the Dining Hall<br>
                Service: 7:00 PM
              </p>
              <h4>Map</h4>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4760.43977184077!2d-98.24970147546678!3d29.83540784247989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865c9c438d3f3315%3A0xa308a4af0a430fa3!2sChurch%20In%20the%20Wildwood%20Assembly!5e0!3m2!1sen!2sus!4v1693251391775!5m2!1sen!2sus" width="600" height="450" style="width:100%;border:0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              <br><br>
              <h4>Who We Are</h4>
              <ul>
                <li>Called to His Plan</li>
                <li>Caring for His People</li>
                <li>Committed to His Purpose</li>
              </ul>
              <p class="fs-6 aos-init aos-animate" data-aos="fade-up">
                We have been called to Worship our Lord in spirit mind soul and body. Caring, we step forward to the ministry of meeting the needs of individuals, families and our community. We are comitted to the task that He has set before us. We are his workmanship created in Christ Jesus our LORD. We are being fitly framed together as a habitation of the Holy Ghost exalting the Lordship of Jesus Christ.
              </p>
              <p>
                Those who enter here are being saved, baptized, healed, filled with the Holy Spirit! We are looking for His soon return. We will stand in His righteousness. Crucified with Christ, nevertheless living in the faith of the Son of God. What is your purpose? – Join us and find out what God’s Purpose is for your life.
              </p>
              <!-- <div class="row mt-5">
                  <div class="col-lg-6">
                      <img src="assets/images/home1/img-1.png" alt="Blessed" data-aos="flip-left" class="aos-init aos-animate">
                      <h5 class="mt-4 fw-medium">Study Bible</h5>
                      <p data-aos="fade-up" class="aos-init aos-animate">
                          Our church is welcoming and sociable, hosting plenty of events. Committees play a crucial
                          role in keeping everything running smoothly.
                      </p>
                  </div>
                  <div class="col-lg-6">
                      <img src="assets/images/home1/img-2.png" alt="Blessed" data-aos="flip-left" class="aos-init aos-animate">
                      <h5 class="mt-4 fw-medium">Place Of Heaven</h5>
                      <p data-aos="fade-up" class="aos-init aos-animate">
                          Beyond our spiritual gatherings, our church is a warm and welcoming community, buzzing with
                          social activities and connections.
                      </p>
                  </div>
              </div> -->
          </div>
          <div class="col-lg-5">
              <div class="z-3 up-event-cover rounded-3">
                  <div class="up-event shadow-1 position-relative">
                      <h4 class="mb-2">Upcoming Events</h4>
                      <ul class="events-list p-0" id="event-list"></ul>
                      <a href="/events/" class="btn btn-full aos-init aos-animate" data-aos="fade-up">View More Events</a>
                      <img class="position-absolute top-0 right-5 tag" src="assets/images/home1/img-4.png" alt="Blessed">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- <div class="bg-animation">
      <img src="assets/images/home1/img-3.png" alt="Blessed" data-aos="fade-right" data-aos-delay="400" class="aos-init aos-animate img-bg">
  </div> -->
</section>

{{ page.body|safe }}
{% endblock %}
