{% extends "blessed/base.html" %}
{% block banner %}
<div class="page-header" data-background="/assets/images/home2/hero-2-bg.png" style="background-image: url(&quot;/assets/images/home2/hero-2-bg.png&quot;);">
  <div class="container">
    <div class="row">
      <h1 class="mb-2 text-white">{{ page.title }}</h1>
      <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
      </nav> -->
    </div>
  </div>
</div>
{% endblock %}
{% block sections %}
{% if page.page_type == "centered-full" %}
<section class="pb-110px position-relative">
  <div class="container">
    <div class="row" style="padding-top: 30px;">
      <div class="col-lg-8 col-10" style="margin: 0 auto;">
        {{ page.body|safe }}
      </div>
    </div>
  </div>
</section>
{% elif page.page_type == "extra-rows" %}
<section class="pb-110px position-relative">
  <div class="container" style="padding-top: 30px;">
    {{ page.body|safe }}
  </div>
</section>
{% else %}
<section class="pb-110px position-relative">
  <div class="container">
    <div class="row" style="padding-top: 30px;">
      {{ page.body|safe }}
    </div>
  </div>
</section>
{% endif %}
{% endblock %}
